@import 'core/styles/colors.module.scss';

.layout {
  height: 0;
  flex: 1 1 auto;
}

$spacing: 14px;

.block {
  color: white;
  flex: 0 0 auto;
  margin-right: $spacing;
  display: flex;
  align-items: center;
  height: 100%;
}

.left {
  width: 100%;
  display: flex;
}
